table {
    width: 100%;
   order: 1;
  }
  .material-table-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: solid 1px; */
    margin-bottom: 20px;
    margin-top: 10px;
    
  }
  .app-list-container{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  .button-container{
    display: flex;
    /* border: solid 1px; */
    width: 80%;
    justify-content:flex-end;
    align-items: flex-end;
    margin-top: 10px;
    
  }
  .btnAddDay{
    font-size: 2rem;
    color : blue;
    border-radius: 50%;
    border: none;
    /* background-color:blue; */
  }

 
 
  /* .hidden-container{
    display: none;
    
    width: 80%;
    border: solid 1px;
  }
  .btnAddDay:hover + .hidden-container {
    display: flex;
    justify-content: flex-end;
  } */
  .btnAddDay:hover{
   color: green;
  }

  mat-paginator {
    order: 2;
  }

  [class="center"]{
    text-align: center;
  }
 .hidePopupModal{
  display: none;
 }

.showPopupModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  position: fixed;
  z-index: 7;
}
.test{
  height: 25vh;;
}
.hide-toast{
  display: none;
}
p-table{
  min-height: 50vh;
  overflow: auto;
}