.ep--circle-plus {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M352 480h320a32 32 0 1 1 0 64H352a32 32 0 0 1 0-64'/%3E%3Cpath fill='%23000' d='M480 672V352a32 32 0 1 1 64 0v320a32 32 0 0 1-64 0'/%3E%3Cpath fill='%23000' d='M512 896a384 384 0 1 0 0-768a384 384 0 0 0 0 768m0 64a448 448 0 1 1 0-896a448 448 0 0 1 0 896'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

mat-paginator {
  order: 2;
}

.center {
  text-align: center;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.button-container {
  display: flex;
  justify-content: flex-end;
}

select {
  border-radius: .5em;

}

.centered-td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn{
  background-color: blue;
  color: white;
  width: 100px;
  height: 1.5em;
  border-radius: 1em;
}

.deleteBtn:hover{
  background-color: green;
  height: 2em;
}

.material-table-container{
  display: flex;
  flex-direction: column;
}

.deleteBtnContainer{
  display: flex;
  justify-content: flex-end;
}