<div class="login-form-container">
 
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    

        <div class="input-group">
             @if (loginError) {
    <div class="login-error">
    {{loginError}}
  </div>
}
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="email" formControlName="email" />
        </div>
          <div class="input-group">
        <label for="password">Password : </label>
        <div class="password-container"> 
          <input [type]="inputType"  formControlName="password" placeholder="password" class="password-input" />
            @if(!isPasswordVisible){
            <span class="mdi-light--eye eye" (click)="togglePassword()"></span>
            }
            @else{
            <span class="mdi-light--eye-off eye" (click)="togglePassword()"></span>
            }
           
            </div>
             @if(password?.invalid && (password?.touched || password?.dirty)){
            <div class="error">{{passwordError}}</div>
            }
        
    </div>
        <button class="loginBtn" type="submit">Login</button>
        <span>Don't have an account ? <a routerLink = "/sign-up">Sign up</a></span>
    </form>
    
</div>