.view-container{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid grey 1px;
    gap : 2vh;
    border-radius :5px;
    /* box-shadow: 5px 5px grey; */
  
}
.label-container{
 width: 20%;
}
.input-container{
  width: 80%;
    text-align: center;
}
.input-div{
    width: 50%;
    display: flex;
}
input{
    width: 100%;
    text-align: center;
}
label{
    width: 100%;
}
.back-container{
    width: 50%;
    text-align: center;
}
.backBtn{
    width: 20%;
    color: green;
    font-size: 1em;
    border-radius: 5px;
}
.backBtn:hover{
    background-color: green;
    color: white;
}