<div class="add-task-container">

    @if(errorMessage){
    <div class="message-container">
        {{errorMessage}}
    </div>
    }
    <form class="form-container" #taskForm="ngForm" ngNativeValidate (ngSubmit)="saveTask(taskForm)">

        <div class="input-container">
            <label for="date"> Date :</label>
            <input type="date" [(ngModel)]="task.date" name="date" required>
        </div>

        <div class="input-container">
            <label for="name"> Name :</label>
            <input type="text" name="name" [(ngModel)]="task.name" required placeholder="name">
        </div>

        <div class="input-container">
            <label for="comments"> Comments :</label>
            <textarea type="comments" name="comments" [(ngModel)]="task.comments" placeholder="Comments"></textarea>
        </div>
        
        <div class="input-container">
                    <label for="startTime">Start time</label>
                    <input type="time" name="startTime" [(ngModel)]="task.startTime"   >
        </div>

        <div class="input-container">
                    <label for="endTime">End time </label>
                    <input type="time" name="endTime" [(ngModel)]="task.endTime"  >
            </div>


        <div class="input-container">
            <label for="done"> Done :</label>
            <select name="done" [(ngModel)]="selectedValue">
                @for(doneItem of yesNo; track doneItem){
                <option [value]="doneItem">{{doneItem}}</option>
                }

            </select>
        </div>
        <div class="input-container">
            <button class="btnSave" type="submit" [disabled]="taskForm.invalid">{{buttonLabel}}</button>
            <button class="btnBack" (click)="backToTasks()">Back</button>
        </div>
    </form>
</div>

