
.add-task-container{
display : flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 86vh;

}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40vh;
    gap: 10px;
}
.input-container{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
label{
   flex : 1;
   margin-left : 4px;
}
input , select, textarea, .time-container{
    flex : 2;
    border-radius: 1em;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid grey;
}

.time-container{
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.time-container-item{
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size:  0.8em;
}

.time-container-item > input, select{
width: 100%;

}
textarea{
    height: 5em;
}
.btnSave{
    width: 20%;
    background-color: green;
}
/* .btnSave:hover{
    background-color: green;
} */

.btnBack{
    background-color: green;
    width: 20%;
  
    
}
.btnBack:hover{
    background-color: green;
}

.btnBack, .btnSave{
    margin-top : 10px;
    padding : 5px;
    color:white;
    border-radius: 3px;
}
.date-container{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container{
    display: flex;
    justify-content: center;
    align-items: center;
}