.user-view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    width: 100%;
}

form{
    width: 50%;
    height: 50%;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2em;
}

button{
    height: 2em;
    min-width: 100px;
    border: none;
    border-radius: 2em;
}

label{
    width: 20%;
}

input, .role-container, details,  .dropdown {
    width: 70%;
    margin-bottom: 1em;
    margin-left: 1em;
    border-radius: 2em;
    height: 2em;
    border : 1px solid grey;
}

.input-container{
display: flex;
justify-content: center;
align-items: center;
}

.backBtn{
    background-color: #0d6efd;
    color : white;
    height: 2em;
}

.saveBtn{
    background-color: #198754;
    color: white;

}

.saveBtn:hover{
    background-color: #198754;
    color: white;
    height: 2.5em;

}

.backBtn:hover{
    background-color: #0d6efd;
    color: white;
    height: 2.5em;

}

.option-container{
    display : flex;
    gap :1em;
}

.message-container{
    display : flex;
    justify-content: center;
    align-items: center;

}

.drop-down-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down-container{
    position: relative;
    display: flex;
}




.role-container-show{
    display: flex;
    background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1px;
}