<div class="rm-container">
    <p-table [value]="roles" [tableStyle]="{ 'min-width': '70vw', 'max-width':'80vw' }"
    styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50, 100]" class="prime-table">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="email" style="width:25%">Id<p-sortIcon field="id" /></th>
        <th pSortableColumn="firstname" style="width:15%">Name <p-sortIcon field="name" /></th>
        <th pSortableColumn="lastname" style="width:15%">Active <p-sortIcon field="active" /></th>
        <th style="width:10%">View</th>
        <th style="width:10%">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">
      <tr>
        <td>{{role.id}} </td>
        <td>{{role.name}}</td>
        <td>{{role.active}}</td>
        <td class="center icons"><i class="fa-regular fa-eye view" (click)="viewUser(role)"></i></td>
        <td class="center icons"><i class="fa-solid fa-trash delete" (click)="removeRow(role.id)"></i> </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- create a table that will get all roles from DB  -->
 <!-- each role should be able to view delete and also add role -->
  <!-- should be able to select multiple roles and delete. Role should not be deleted when it is in use -->
   <!-- have active roles and inactive roles that can be changed from this page -->
